.clock {
  width: 300px;
  height: 300px;
  margin: 0px auto 2rem;
  border-radius: 50%;
  border: 16px solid rgba(72, 34, 1, 0.915);
  position: relative;
  box-shadow: 0 2vw 7vw -1vw rgb(0, 0, 0);
  z-index: -1;
  background-image: url("media/clock.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: rgba(66, 36, 0, 0.897);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: 0;
  box-shadow: 0 2px 4px -1px black;
}

.hour-hand {
  position: absolute;
  z-index: -3;
  width: 4px;
  height: 65px;
  background: #333;
  top: 79px;
  transform-origin: 50% 72px;
  left: 50%;
  margin-left: -2px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.minute-hand {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: absolute;
  z-index: -2;
  width: 4px;
  height: 100px;
  background: #666;
  top: 46px;
  left: 50%;
  margin-left: -2px;
  transform-origin: 50% 105px;
}

.second-hand {
  position: absolute;
  z-index: -1;
  width: 2px;
  height: 120px;
  background: rgb(255, 0, 0);
  top: 26px;
  left: 50%;
  margin-left: -1px;
  border-radius: 25%;
  transform-origin: 50% 125px;
}
